@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#app-container {
  /* padding-top: env(safe-area-inset-top); */
  padding-top: 60px;
  min-height: 100vh;
  box-sizing: border-box;
}

.glass-effect {
  -webkit-backdrop-filter: saturate(145%) blur(10px);
  backdrop-filter: saturate(145%) blur(10px);
}

.header-top-safe-area {
  padding-top: calc(0px + env(safe-area-inset-top));
}

.tabbar-bottom-safe-area {
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding-bottom: calc(0px + env(safe-area-inset-bottom, 1)); */
}
