NODE_ENV=development
SERVER_URL=http://localhost
SERVER_PATH=/api
SERVER_PORT=3000
APP_PUBLIC_BASE_URL=http://localhost:3000
APP_CORS_ORIGIN=http://localhost:3000
SWAGGER_PATH=/docs

JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=3600

DATABASE_PATH=./auth.db
DATABASE_MIGRATIONS_FOLDER=./src/database/migrations

RESEND_API_KEY=re_your_api_key
RESEND_FROM_EMAIL=noreply@yourdomain.com
