name: Code Checks

on:
  workflow_call:

jobs:
  lint:
    uses: ./.github/workflows/jobs/lint.yml

  format:
    uses: ./.github/workflows/jobs/format.yml

  check-types:
    uses: ./.github/workflows/jobs/check-types.yml

  audit:
    uses: ./.github/workflows/jobs/audit.yml

  dependency-review:
    uses: ./.github/workflows/jobs/dependency-review.yml

  build:
    uses: ./.github/workflows/jobs/build.yml

  codeql:
    uses: ./.github/workflows/jobs/codeql.yml
    permissions:
      contents: read
      security-events: write
