name: Code Checks

on:
  workflow_call:

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  format:
    uses: ./.github/workflows/format.yml

  check-types:
    uses: ./.github/workflows/check-types.yml

  audit:
    uses: ./.github/workflows/audit.yml

  dependency-review:
    uses: ./.github/workflows/dependency-review.yml

  build:
    uses: ./.github/workflows/build.yml

  codeql:
    uses: ./.github/workflows/codeql.yml
    permissions:
      contents: read
      security-events: write
