name: Pull Request Validation

on:
  pull_request:
    branches: [master]

permissions:
  contents: read
  pull-requests: read
  security-events: write

jobs:
  conventional-commits:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  checks:
    needs: [conventional-commits]
    uses: ./.github/workflows/checks.yml

  build:
    needs: [checks]
    uses: ./.github/workflows/build.yml
