name: Create a New Release

on:
  push:
    branches: [master]

jobs:
  checks:
    uses: ./.github/workflows/checks.yml

  release:
    needs: [checks]
    uses: ./.github/workflows/jobs/release.yml
