name: Create a New Release

on:
  push:
    branches: [master]

jobs:
  checks:
    uses: ./.github/workflows/checks.yml
    permissions:
      contents: read
      security-events: write

  build:
    needs: [checks]
    uses: ./.github/workflows/build.yml

  release:
    needs: [build]
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
