name: Pull Request Validation

on:
  pull_request:
    branches: [master]

permissions:
  contents: read
  pull-requests: read
  security-events: write

jobs:
  checks:
    uses: ./.github/workflows/check-and-build.yml
