name: Create a New Release

on:
  push:
    branches: [master]

jobs:
  checks:
    uses: ./.github/workflows/check-and-build.yml
    permissions:
      contents: read
      security-events: write

  release:
    needs: [checks]
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

