name: Pull Request Validation

on:
  pull_request:
    branches: [master]

permissions:
  contents: read
  pull-requests: read
  security-events: write

jobs:
  conventional-commits:
    uses: ./.github/workflows/conventional-commits.yml

  checks:
    needs: [conventional-commits]
    uses: ./.github/workflows/checks.yml
